AZURE_STORAGE_ACCOUNT_URL=https://<storage-name>.blob.core.windows.net/
AZURE_STORAGE_CONTAINER_NAME=<storage-name>
DATABASE_URL=mssql+pyodbc://<username>:<password>@<server>.database.windows.net:1433/<database>?driver=ODBC+Driver+18+for+SQL+Server&Encrypt=yes&TrustServerCertificate=no