AZURE_STORAGE_ACCOUNT_URL=https://<storage-account-name>.blob.core.windows.net/
AZURE_STORAGE_CONTAINER_NAME=<container-name>
AZURE_STORAGE_ACCOUNT_KEY=...
DB_SERVER=<sql-server-name>-sql.database.windows.net
DB_DATABASE=...
DB_USERNAME=<your-username>
DB_PASSWORD=<your-password>