# Python
__pycache__/
*.pyc
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Environment
.env

# Azure
.azure/

# Tests
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log